# Compiled class file
*.class

#Archivos de la carpeta build
Lecheros/build
Lecheros/build.xml
Lecheros/manifest.mf
Lecheros/dist/*
Lecheros/src/hibernate.cfg.xml
Lecheros/src/hibernate.properties
Lecheros/src/config.properties

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Lecheros/.idea/dataSources.xml
Lecheros/.idea/Lecheros.iml
Lecheros/.idea/misc.xml
Lecheros/.idea/modules.xml
Lecheros/.idea/uiDesigner.xml
Lecheros/C:\Lecheros\Logs\sistemaFacturas.log.2017-09-04
Lecheros/.idea/vcs.xml
Lecheros/.idea/workspace.xml
Lecheros/.idea/dataSources/1a2fab01-311f-4019-be51-45f0b4d4358d.xml
Lecheros/.idea/dataSources/4dba1990-b9c1-4b84-9141-c40ca1513fed.xml
Lecheros/.idea/libraries/antlr_2_7_7.xml
Lecheros/.idea/libraries/c3p0_0_9_2_1.xml
Lecheros/.idea/libraries/commons_io_2_5.xml
Lecheros/.idea/libraries/DateChooser.xml
Lecheros/.idea/libraries/dom4j_1_6_1.xml
Lecheros/.idea/libraries/ehcache_core_2_4_3.xml
Lecheros/.idea/libraries/hibernate_c3p0_4_3_1_Final.xml
Lecheros/.idea/libraries/hibernate_commons_annotations_4_0_4_Final.xml
Lecheros/.idea/libraries/hibernate_core_4_3_1_Final.xml
Lecheros/.idea/libraries/hibernate_ehcache_4_3_1_Final.xml
Lecheros/.idea/libraries/hibernate_ehcache_4_3_1_Final1.xml
Lecheros/.idea/libraries/hibernate_entitymanager_4_3_1_Final.xml
Lecheros/.idea/libraries/hibernate_jpa_2_1_api_1_0_0_Final.xml
Lecheros/.idea/libraries/itextpdf_5_5_8.xml
Lecheros/.idea/libraries/javassist_3_18_1_GA.xml
Lecheros/.idea/libraries/jboss_logging_3_1_3_GA.xml
Lecheros/.idea/libraries/jboss_transaction_api_1_2_spec_1_0_0_Final.xml
Lecheros/.idea/libraries/jcalendar_1_4.xml
Lecheros/.idea/libraries/l2fprod_swingx.xml
Lecheros/.idea/libraries/log4j_1_2_17.xml
Lecheros/.idea/libraries/log4j_api_2_6_2.xml
Lecheros/.idea/libraries/mchange_commons_java_0_2_3_4.xml
Lecheros/.idea/libraries/mysql_connector_java_5_1_23_bin.xml
Lecheros/.idea/libraries/pdfbox_app_2_0_3.xml
Lecheros/.idea/libraries/poi_3_14_20160307.xml
Lecheros/.idea/libraries/poi_examples_3_14_20160307.xml
Lecheros/.idea/libraries/poi_excelant_3_14_20160307.xml
Lecheros/.idea/libraries/poi_ooxml_3_14_20160307.xml
Lecheros/.idea/libraries/poi_ooxml_schemas_3_14_20160307.xml
Lecheros/.idea/libraries/poi_scratchpad_3_14_20160307.xml
Lecheros/.idea/libraries/slf4j_api_1_6_1.xml
Lecheros/.idea/libraries/slf4j_simple_1_6_1.xml
Lecheros/.idea/libraries/xmlbeans_2_6_0.xml
C:\Lecheros\Logs\sistemaFacturas.log.2017-09-04
VentanaConfiguracionFacturacion.jfd
