# Compiled class file
*.class

#Archivos de la carpeta build
Lecheros/build
Lecheros/build.xml
Lecheros/manifest.mf
Lecheros/dist/*
Lecheros/src/hibernate.cfg.xml

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
